body {
	background: #e9ebee;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

a { color:#1176b6; }
a:hover { text-decoration: underline; }

/* --- --- HEADER --- --- */
header {
	background: #1176b6;
}

header .nav {
	min-height: 80px;
	overflow: hidden;
}

/* --- LOGO --- */
header .logo h2,
header .logo span,
header .logo p {
	font-size: 24px;
	display: inline-block;
	margin: 0;
}

header .logo h2 {
	font-weight: 800;
	text-transform: uppercase;
}

header .logo img {
	width: 45px;
	height: 45px;
}

nav img {
	width: 45px;
	height: 45px;
}

header .logo .icono { color:#bfbfbf; }

header .logo p { color: #777777; }

header .logo {
	margin-top: 10px;
}

/* --- MENU --- */
header .menu {
	padding: 0;
}

header .menu a {
	display: block;
	padding: 0 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-decoration: none;
	color: #fff;
}

header .menu a div span {
	font-weight: 600;
}


/* --- --- CARD NEWS --- --- */

.card {
    background-color:#eeeeee;
}

/* --- --- FOOTER --- --- */
main footer {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

main footer a {
	color: #1176b6;
	line-height: 14px;
	margin-right: 10px;
}

main footer .copyright {
	color: #919191;
	margin-top: 10px;
}

.imgDetail {
	width: 50%;
	height: auto;
}

button {
	display: inline-block;
	line-height: 1;
	white-space: nowrap;
	cursor: pointer;
	background: #fff;
	border: 1px solid #dcdfe6;
	color: #606266;
	-webkit-appearance: none;
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	margin: 0;
	-webkit-transition: 0.1s;
	transition: 0.1s;
	font-weight: 500;
	padding: 12px 20px;
	font-size: 14px;
	border-radius: 4px;
	margin-right: 1em;
  }


  .vld-shown {
	overflow: hidden;
  }
  
  .vld-overlay {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	align-items: center;
	display: none;
	justify-content: center;
	overflow: hidden;
	z-index: 9999;
  }
  
  .vld-overlay.is-active {
	display: flex;
  }
  
  .vld-overlay.is-full-page {
	z-index: 9999;
	position: fixed;
  }
  
  .vld-overlay .vld-background {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	background: #fff;
	opacity: 0.5;
  }
  
  .vld-overlay .vld-icon, .vld-parent {
	position: relative;
  }

  .bottom-right {
	position: fixed;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
  }

  .notRatedLogo {
	width: 10%;
}

.text-justify {
	text-align: justify;
}

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}